<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Result</title>
</head>
<body>
    <h1>Location Details</h1>
    <p>Latitude: <%= lat %></p>
    <p>Longitude: <%= lng %></p>
    <p>City: <%= city %></p>
    <p>area: <%= area %></p>
    <p>road: <%= road %></p>
    <p>pin code : <%= postalCode %></p>

    <a href="/">Go back</a>
</body>
</html>
